/* ======= Global CSS ========= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    background: #fffdff;
}


/* ======= Navbar CSS ========= */
.header{
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    box-shadow: 0 0 2px 0 rgb(110, 110, 110);
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.logo-txt{
    font-size: 1.5rem;
    color: #5f6368;
    font-weight: 600;
    cursor: pointer;
}

/* ========= Count =========== */

.count{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

/* ====== CreateNote Form ====== */

form{
    position: relative;
    width: 600px;
    background: #fff;
    padding: 7px;
    margin: 32px auto 50px auto;
    border-radius: 7px;
    box-shadow:  0 1px 7px rgb(128, 128, 128);
}

form input{
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1.2rem;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
}

form textarea{
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}

.addBtn{
    position: absolute;
    font-size: 25px;
    padding-top: 2px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 18px;
    bottom: -18px;
    background-color: rgb(231, 206, 18);
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
}

.addBtn svg{
    filter: invert();
}

svg{
    width: 25px;
}

/* ======== Note ======== */
.note{
    background: #fff;
    width: 240px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175, 175, 175);
    padding: 10px;
    margin: 16px;
    float: left;
    margin-right: 0;
}

.note h1{
    font-size: 1rem;
    margin-bottom: 6px;
    font-family: 'Courier New', Courier, monospace;
}

.note p{
    font-size: 0.8rem;
    color: #6f212b;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.deleteBtn{
    width: 18px;
    padding-top: 5px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

/*=============== Footer =================*/
.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

@media(max-width: 665px){
    .createNote{
        padding: 0 10px;
    }
    form{
        width: 100%;
    }
}